.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.column {
    width: calc(100% / 3);
    float: left;
    /* margin-right: 3%; */
    background-color: #F0F1F1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    background-color: #F0F1F1;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

footer {
    background-color: #F0F1F1;
}

div>p {
    background-color: #F0F1F1;
}