img {
  width: 50px;
}
#face {
  width: 400px;
}
#hair1 {
  position: relative;
  left: 0px;
  top: -500px;
  width: 300px;
}
#mouth2 {
  position: relative;
  top: -100px;
  left: -450px;
  width: 70px;
}
#eyes1 {
  position: relative;
  top: -200px;
  left: -250px;
  width: 100px;
  
}
#nose1 {
  position: relative;
  top: -120px;
  left: -510px;
}
#ears1{
  position: relative;
  top: -120px;
  left: -800px;
  width: 400px;
}

